# pnpm 配置
auto-install-peers=true
prefer-workspace-packages=true
save-workspace-protocol=true
strict-peer-dependencies=false

# 性能优化
resolution-mode=highest
node-linker=isolated
enable-pre-post-scripts=true

# 设置 registry
registry=https://registry.npmmirror.com/

# 忽略脚本
ignore-scripts=false
